.Rows {
    color: white;
    margin-left: 20px;
}

.Row-posters {
    display:flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    

}

.Row-posters::-webkit-scrollbar {
    display: none;
}

.Row-poster {
    max-height: 130px;
    object-fit: contain;
    margin-right: 13px;
    transition: transform 450ms;
    border-radius: 6px;
}

.Row-poster:hover {
    transform: scale(1.08);
    opacity: 1;
}

.Row-posterLarge {
    max-height: 270px;
}